@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));


.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #0043a0 transparent; /* thumb and track */

  /* Chrome, Edge, Safari */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #94a3b8; /* slate-400 */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}